
.popup {

    height: 100vh;
    width: 100%;
    background-color:rgba($color-black,.8); 
    position: fixed;
    top:0;
    left: 0; 
    z-index: 2000;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;

    // check backdrop-filter property is supported or not
    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)){

        -webkit-backdrop-filter  :  blur(10px);
                backdrop-filter  :  blur(10px);
                background-color :  rgba($color-black,.3);   
    }

    &__content {

        @include absCenter;
        width:75%;
        // height: 50rem;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black,.2);
        border-radius: .3rem; 
        display: table;
        overflow: hidden;

        opacity: 0;
        transform: translate(-50%,-50%) scale(0);  // one transform is already 
        // there in absCenter mixin and there should be only one transform in an element. so we add them.
        transition: all .5s .3s;
    }


    &__left {
        
        // float: left;
        width: 33.333%;
        display: table-cell;
        // vertical-align: middle;

    }

    &__right {
        width: 66.666%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;  
    }
    &__img {
        display: block;
        width:100%;
        // height: 25rem;
    }   

    &__text {
        // font-size: 1.4rem;
        margin-bottom: 3rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $color-grey-light-2;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    &:target {

        opacity: 1;
        visibility: visible;
    }

    &:target &__content{
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
    }

    &__close {
        
        &:link,
        &:visited {

            color: $color-grey-dark;
            position: absolute;
            top:2.5rem;
            right: 2.5rem;
            font-size:3rem;
            text-decoration: none;
            display: inline-block;
            transition: all 1s;
            line-height: 1; 
            
        }
        &:hover {
            color:$color-primary;
            
        }

    }
}