
.u-center-text{
    text-align:center !important;
}

.u-margin-bottom-small{
    margin-bottom: 2rem !important;
}

.u-margin-bottom-medium{
    margin-bottom: 4rem !important;
    @include respond(tab-port){     // tablet in portrait mode = 900px
        // font-size: 50%;             // 8px (8/16) = 50%
        margin-bottom: 2rem !important; 
    }
}

.u-margin-bottom-big{
    margin-bottom: 8rem !important;
    @include respond(tab-port){     // tablet in portrait mode = 900px
        // font-size: 50%;             // 8px (8/16) = 50%
        margin-bottom: 4rem !important; 
    }
}

.u-margin-top-big{
    margin-top: 8rem !important;
}

.u-margin-top-huge{
    margin-top: 10rem !important;
}